#main_menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

#main_menu li {
    margin:0 auto;
  float: left;
}

#main_menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px;
  text-decoration: none;
}

#main_menu li a:hover {
  background-color: #111111;
}

.tableclass{
  margin: 10% 10% 0% 10%;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  padding :0 0 0 0;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {
  background-color: #008CBA;
  border-radius : 25px; 
} /* Blue */
.button3 {background-color: #f44336;} /* Red */ 
.button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
.button5 {background-color: #555555;}