
.form_table { 
    text-align: center; 
}

.full_width .segment_header {
     text-align: center !important; 
}


.q {
     float:none;display: inline-block;
}

table.matrix, table.rating_ranking { 
    margin-left:auto !important;
    margin-right:auto !important; 
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .button2 {background-color: #008CBA;} /* Blue */
  .button3 {background-color: #f44336;} /* Red */ 
  .button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
  .button5 {background-color: #555555;}